<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/main_page.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <title>KazTravel</title>
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body>


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </symbol>
    <symbol id="search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </symbol>
    <symbol id="rating" viewBox="0 0 16 16">
        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
    </symbol>
    <symbol id="filter" viewBox="0 0 16 16">
        <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
        <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
        <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
    </symbol>
    <symbol id="translate" viewBox="0 0 16 16">
        <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
        <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
    </symbol>
    <symbol id="account" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </symbol>
    <symbol id="favorites" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
    </symbol>
    <symbol id="recommendation" viewBox="0 0 16 16">
        <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
    </symbol>
    <symbol id="reg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </symbol>
</svg>

  <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span
          class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
            class="bi bi-brightness-alt-high">
            <path
              d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4zm0 1a3 3 0 0 1 2.959 2.5H5.04A3 3 0 0 1 8 8z">
            </path>
          </svg></span><span>KazTravel</span></a><button data-bs-toggle="collapse" class="navbar-toggler"
        data-bs-target="#navcol-1"><span class="visually-hidden"></span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link nav-link" href="#about_us">About us</a></li>
          <li class="nav-item"><a class="nav-link nav-link" href="#how_to_use_our_service">How to use our service?</a></li>
          <li class="nav-item"><a class="nav-link nav-link" href="#features">Features</a></li>
          <li class="nav-item"><a class="nav-link nav-link" href="#prices">Prices</a></li>
        </ul>

        {% if not request.user.is_authenticated%}
            <a class="btn btn-primary shadow" role="button" href="/register">Sign up</a>
            {% else %}
            <a title="My profile" href="/profile"><img style="margin-left: 15px;" src="{{MEDIA_URL}}{{ profile.avatar.url}}" alt="" width="32" height="32" class="rounded-circle me-2"></a>
            <a title="My profile" href="/profile"><span class="nav-link">{{ request.user }}</span></a>
            <a class="btn btn-danger shadow" role="button" href="/logout">Log out</a>
            {% endif %}

      </div>
    </div>
  </nav>

<section class="main-part color-b" id="about_us">
    <div style="padding-top: 6em;"></div>
    <div class="container px-4 py-5">
        <h1 class="border-bottom t-white" style="text-align: center;font-family:'Montserrat', sans-serif;font-size:4em;font-weight: bold;padding-bottom: 1em;">KazTravel</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="feature col">
                <img class="image" style="width: 70%; border-radius: 10px" src="{% static 'images/pic1.jpg' %}">
                <h2 class="t-white mtext" style="margin-top: 5px">Tourism in Kazakhstan</h2>
                <p class="t-white lead mtext">Due to the abundance of resources and locations, Kazakhstan has developed many types of tourism: entertainment, cultural and educational, environmental, sports, wellness. Tourism in Kazakhstan involves a wide variety of routes.</p>
            </div>

            <div class="feature col">
                <img class="image" style="width: 70%; border-radius: 10px" src="{% static 'images/pic3.jpg' %}">
                <h2 class="t-white mtext" style="margin-top: 5px">Thanks to our service </h2>
                <p class="t-white lead mtext">It will be easier for people to learn about interesting places in our vast country</p>
            </div>

        </div>

        <div>
            <p style="text-align: center"><a href="/places/" class="btn btn-lg btn-outline-light">Places</a></p>
            <a style="margin-bottom: 5px"></a>
            <p class="t-white lead mdopinfo" style="text-align: center">More information</p>
            <a href="#how_to_use_our_service"><svg class="down mx-auto d-block bounce" width="1em" height="1em" style=""><use xlink:href="#down"/></svg></a>
        </div>
    </div>
    <div style="background: linear-gradient(transparent 20px, white);"></div>
</section>

<section style="background-color: #014ab7; padding-top: 50px">
    <div class="container" id="how_to_use_our_service">
        <div class="row">
            <div class="col" style="text-align: center; margin-top: 70px;margin-bottom: 50px">
                <p class="badge rounded-pill bg-light" style="color: #005de8;font-size: 50px">More than 14</p>
                <p style="color: white; font-size: 20px; margin-top: -15px; font-weight: bold">regions of Kazakhstan.</p>
            </div>
            <div class="col" style="text-align: center; margin-top: 70px;margin-bottom: 50px">
                <p class="badge rounded-pill bg-light" style="color: #005de8;font-size: 50px">About 100</p>
                <p style="color: white; font-size: 20px; margin-top: -15px; font-weight: bold">different places.</p>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 60px;"></div>
</section>


<section style="background-color: #014ab7">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p style="font-size: 35px; color: white; font-weight: bold; text-align: center">How to start using our service:</p>
                <ol class="list-counter-circle">
                    <li>Register using Email</li>
                    <li>Confirm Email</li>
                    <li>Now you can use the functionality of our service!</li>
                </ol>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

<section id="features" style="background-color: #014ab7; padding-top: 100px">
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 lead border-bottom whitetxt" style="text-align: center;font-size: 50px; font-weight: bold">The main features:</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#search"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Quick search</h4>
                    <p class="whitetxt">A quick search will allow you to find specific places in Kazakhstan.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#filter"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Filters</h4>
                    <p class="whitetxt">Sorting of all places will be done by region, prices and type of place (for example, attraction or entertainment).</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#favorites"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Favourites</h4>
                    <p class="whitetxt">The ability to add any place to favorites so as not to lose it.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#rating"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Rating</h4>
                    <p class="whitetxt">Rating with the most frequently selected places</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#account"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Personal account</h4>
                    <p class="whitetxt">Personal account on the website for storing user information</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#reg"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Registration on the site</h4>
                    <p class="whitetxt">Log in using your email and password.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi flex-shrink-0 me-3 feature_color" width="1.75em" height="1.75em"><use xlink:href="#recommendation"/></svg>
                <div>
                    <h4 class="fw-bold mb-0 whitetxt">Recommendation</h4>
                    <p class="whitetxt">We will select the best places for you according to your taste and wishes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="prices" style="background-color: #014ab7;padding-top: 80px">
    <div class="container">
        <h2 class="pb-2 lead border-bottom whitetxt" style="text-align: center;font-size: 50px; font-weight: bold">Prices:</h2>
        <p class="whitetxt lead" style="font-size: 15px;text-align: center">You can use most of our service absolutely for free. But if you purchase an unlimited subscription, then using our services will become even more enjoyable!</p>
        <div class="row row-cols-1 row-cols-md-2  text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>View all places</li>
                            <li>Rating of places</li>
                            <li>Recommendations</li>
                            <li>Reviews</li>
                            <li style="font-weight: bold">and much more...</li>
                        </ul>
                        <a href="/login" class="w-100 btn btn-lg btn-outline-primary" >Sign up for free</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$5<small class="lead" style="color: grey">/forever</small> </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>The approximate prices for each place are visible</li>
                            <li>The rating of places is visible</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if not request.user.is_authenticated%}
<section class="section-line"></section>
<section>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Start using the service now!</h1>
                <p class="col-lg-10 fs-4">Go through a simple registration and discover places in Kazakhstan that you may not even have known about!</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                    <hr class="my-4">
                    <small class="text-muted">No account? <a href="/register"><u>Create</u></a> an account</small>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}

<footer>
    <nav>
        <a href="#about_us" >About us</a>
        <a href="#how_to_use_our_service"  >How to use our service?</a>
        <a href="#features"  >Features</a>
        <a href="#prices"  >Prices</a>
    </nav>
    <div class="logo">
        <a style="font-weight: bold;font-size: 18px; color: white">KazTravel. 2022</a>
    </div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{% static 'js/main_page.js' %}"></script>
</body>
</html>