*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
    
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

nav{
    width: 800px;
    margin-left: 600px;
    height: 60px;
    background-color: #fff;
}


.topnav{
    font-size: 50px;
    margin-top: auto;
    margin-left: 400px;
    overflow: hidden;
}



.topnav a{
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    float: left;
}


.topnav a:hover{
    border-bottom: 2px solid #000;
}

.content {
    padding: 16px;
    
  }
  

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }